
:root{
    --highlight: #e63946;
    --highlightl: #e84c58;
    --bg: #f1faee;
    --soft: #a8dadc;
    --softl: #b0dddf;
    --regular:#457b9d;
    --regularl: #4d8ab0;
    --dark: #1d3557;
    --darkl: #264774;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: var(--bg);
}

header{
    height: 12vh;
    margin: 0 0 20px 0;
    background-color: var(--dark);
    border-bottom: 7px solid var(--highlight);
}

header .container a{
    text-decoration: none;
}

header .container img{
    height: 12vh;
    padding: 2vh 0;
    vertical-align: middle;
}

header .container span{
    color: var(--soft);
    font-size: 48px;
    vertical-align: middle;
}

.main{
    min-height: 80vh;
}


footer{
    /*position: absolute;*/
    width: 100%;
    /*bottom: 0;*/
    height: 8vh;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
}

footer{
    padding: 1% 0;
}


/*Overide Bootstrap Style */
.table{
    color: var(--dark);
}

.table .thead-dark th{
   background-color:  var(--dark);
   border-color: var(--darkl);
}

.btn-success, .btn-primary{
    background-color: var(--regular);
    border-color: var(--regularl);
}

.btn-danger{
    background-color: var(--highlight);
    border-color: var(--highlightl);
}

.btn-secondary{
    background-color: var(--soft);
    border-color: var(--softl);
}
