
:root{
    --highlight: #e63946;
    --bg: #f1faee;
    --soft: #a8dadc;
    --regular:#457b9d;
    --dark: #1d3557;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: var(--bg);
}

header{
    height: 20vh;
    background-color: var(--dark);
}

footer{
    height: 10vh;
    background-color: var(--dark);
}